In [1]:
import pandas as pd
from path import Path
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Create data file which combines the clustering results, ratings summary, and user tag samples
file_path = Path('cluster_final.csv')
movieclusters_df = pd.read_csv(file_path)
movieclusters_df.drop(columns=['Unnamed: 0'],inplace=True)
movieclusters_df.head()

   movieid  Cluster                               title
0        1       35                    Toy Story (1995)
1        2      130                      Jumanji (1995)
2        3      180             Grumpier Old Men (1995)
3        4       99            Waiting to Exhale (1995)
4        5      180  Father of the Bride Part II (1995)

In [8]:
file_path = Path('data_exploration/ratingssummary.csv')
movieratings_df = pd.read_csv(file_path)
#movieratings_df.drop(columns=['Unnamed: 0'],inplace=True)
movieratings_df.head()

   movieid  avg_rating  rating_counts
0        1    3.893708          57309
1        2    3.251527          24228
2        3    3.142028          11804
3        4    2.853547           2523
4        5    3.058434          11714