In [1]:
# Initial imports
import pandas as pd
from path import Path
import numpy as np

In [2]:
file_path = Path('movies.csv')
movies_df = pd.read_csv(file_path)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movieidlist=[1,2,3]
movies_dfshort = movies_df.loc[movies_df['movieId'].isin(movieidlist)]
movies_dfshort.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [4]:
file_path2 = Path('ratings.csv')
ratings_df = pd.read_csv(file_path2)
ratings_df=ratings_df[ratings_df['rating']>4]
ratings_df.drop(columns=['userId','timestamp'],inplace=True)
ratings_df.shape

(5813013, 2)

In [5]:
goodmovies_df=pd.merge(ratings_df,movies_df,on='movieId',how='left')

In [6]:
moviesgoodratings=goodmovies_df.title.unique()

In [7]:
moviesgoodratings

array(['Pulp Fiction (1994)',
       'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
       'Underground (1995)', ..., 'Nicht alle waren MÃ¶rder (2006)',
       'Edge of Darkness (1943)', 'Night Owls (2015)'], dtype=object)

In [8]:
mgr_df=pd.DataFrame(moviesgoodratings)

mgr_df.to_csv('movieswithgoodratings.csv')

In [9]:
ratings_dfshort=ratings_df.loc[ratings_df['movieId'].isin(movieidlist)]
ratings_dfshort.head()

      movieId  rating
1459        2     5.0
3864        3     5.0
5101        1     5.0
7276        3     5.0
9939        1     5.0

In [10]:
ratings_dfshort.shape

(22665, 2)

In [11]:
ratings_dfshort.to_csv('ratingsshortex.csv')

In [13]:
ratingcount_df=ratings_df.groupby('movieId').count()
ratingcount_df.reset_index()
ratingcount_df.head()

         rating
movieId
1         18835
2          2667
3          1163
4           182
5           968

In [14]:
ratingssummary_df=pd.merge(goodratings_df,ratingcount_df,how='left',on='movieId')
ratingssummary_df.rename({'rating_x': 'avg_rating', 'rating_y': 'ratingcounts'},axis=1,inplace=True)
ratingssummary_df.head()

NameError: name 'goodratings_df' is not defined

In [ ]:
ratingssummary_df.shape

In [ ]:
file_path5 = Path('genome-scores.csv')
genomescores_df = pd.read_csv(file_path5)
genomescores_df.head(5)

In [ ]:
genomescores_dfshort=genomescores_df.loc[genomescores_df['movieId'].isin(movieidlist)]

In [ ]:
genomescores_dfshort.shape

In [ ]:
df=pd.merge(movies_df,genomescores_df,on='movieId', how='left')
df.count()

In [ ]:
df.head()

In [ ]:
#check correlation of tagId, relevance score to find similar war movies to tagId 1121 which is ww2 movies.
similarmovies_df=df.loc[(df['tagId']==1121) & (df['relevance']>.95)]
similarmovies_df.head(20)

In [ ]:
relevancepermovie_df=df.loc[(df['movieId']==1240) & (df['relevance']>.95)]
relevancepermovie_df.head(40)

In [ ]:
# now take these tag ids from the terminator movie selection and suggest a list of movies
tagidsmatchineterminator=relevancepermovie_df.tagId
similarmovies_df=df.loc[(df['tagId'].isin(tagidsmatchineterminator)) & (df['relevance']>.95)]
similarmovies_df.head()

In [ ]:
df_explor=df.loc[df['movieId']==1]

In [ ]:
df_explor

In [ ]:
file_path3 = Path('tags.csv')
tags_df = pd.read_csv(file_path3)
tags_df.head()

In [ ]:
df_sum=pd.merge(df_explor,tags_df,on='movieId',how='left')
df_sum.head()

In [ ]:
df_sumrelv=df_sum.loc[df_sum['relevance']>.95]

In [ ]:
df_sumrelv.to_csv('summarychecks.csv')

In [ ]:
df=df.groupby(['movieId','genres']).mean()

In [ ]:
df.to_csv('dfcheck.csv')

In [ ]:
file_path4 = Path('genome-tags.csv')
genometags_df = pd.read_csv(file_path4)
genometags_df.head(5)

In [ ]:
file_path5 = Path('genome-scores.csv')
genomescores_df = pd.read_csv(file_path5)
genomescores_df.head(5)

In [ ]:
df=pd.merge(movies_df, tags_df,on='movieId', how='left')
df.head()

In [ ]:
inspect_df=genomescores_df[genomescores_df['movieId']==1]
inspect_df.count()

In [ ]:
genomescores_df.count()

In [ ]:
tags_df.userId.unique().shape

In [ ]:
# Can we reduce the number of rows in the genome_scores by first removing all low rated movies scores
goodmoviesidlist=goodmovies_df.movieId
reduced_genomescore_df=genomescores_df.loc[genomescores_df['movieId'].isin(goodmoviesidlist)]

In [ ]:
reduced_genomescore_df.shape

In [ ]:
# now how many of records have scoring over 95% relevance

reduced_genomescore_df2=reduced_genomescore_df.loc[reduced_genomescore_df['relevance']>.95]

In [ ]:
reduced_genomescore_df2.shape

In [ ]:
#now we see only 32107 rows remaining.  how many movies does this actually cover now?
moviescorelist=reduced_genomescore_df2.movieId.unique()

In [ ]:
len(moviescorelist)

In [ ]:
# ok we see it covers 10k movies.  what tagids make up this refined list
tagsreducedlist=reduced_genomescore_df2.tagId.unique()

In [ ]:
len(tagsreducedlist)

In [ ]:
#now lets find the inner join between movies with meaningful relevance scores and movies with good ratings
# first get the movie titles from the moviescorelist