In [1]:
# Initial imports
import pandas as pd
from path import Path
import numpy as np

In [2]:
file_path = Path('movies.csv')
movies_df = pd.read_csv(file_path)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movieidlist=[1,2,3]
movies_dfshort = movies_df.loc[movies_df['movieId'].isin(movieidlist)]
movies_dfshort.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [4]:
file_path2 = Path('ratings.csv')
ratings_df = pd.read_csv(file_path2)
ratings_df=ratings_df[ratings_df['rating']>4]
ratings_df.drop(columns=['userId','timestamp'],inplace=True)
ratings_df.shape

(5813013, 2)

In [5]:
goodmovies_df=pd.merge(ratings_df,movies_df,on='movieId',how='left')

In [6]:
moviesgoodratings=goodmovies_df.title.unique()

In [7]:
moviesgoodratings

array(['Pulp Fiction (1994)',
       'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
       'Underground (1995)', ..., 'Nicht alle waren Mörder (2006)',
       'Edge of Darkness (1943)', 'Night Owls (2015)'], dtype=object)

In [8]:
mgr_df=pd.DataFrame(moviesgoodratings)

mgr_df.to_csv('movieswithgoodratings.csv')

In [9]:
ratings_dfshort=ratings_df.loc[ratings_df['movieId'].isin(movieidlist)]
ratings_dfshort.head()

      movieId  rating
1459        2     5.0
3864        3     5.0
5101        1     5.0
7276        3     5.0
9939        1     5.0

In [10]:
ratings_dfshort.shape

(22665, 2)

In [11]:
ratings_dfshort.to_csv('ratingsshortex.csv')

In [12]:
file_path5 = Path('genome-scores.csv')
genomescores_df = pd.read_csv(file_path5)
genomescores_df.head(5)

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [13]:
genomescores_dfshort=genomescores_df.loc[genomescores_df['movieId'].isin(movieidlist)]

In [14]:
genomescores_dfshort.shape

(3384, 3)

In [15]:
df=pd.merge(movies_df,genomescores_df,on='movieId', how='left')
df.count()

movieId      15633055
title        15633055
genres       15633055
tagId        15584448
relevance    15584448
dtype: int64

In [16]:
df.head()

,movieId,title,genres,tagId,relevance
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,0.02375
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,0.06250
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,0.07575
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,0.14075

In [17]:
#check correlation of tagId, relevance score to find similar war movies to tagId 1121 which is ww2 movies.
similarmovies_df=df.loc[(df['tagId']==1121) & (df['relevance']>.95)]
similarmovies_df.head(20)

,movieId,title,genres,tagId,relevance
571904,527,Schindler's List (1993),Drama|War,1121.0,0.98875
781748,760,Stalingrad (1993),Drama|War,1121.0,0.99450
906973,893,Mother Night (1996),Drama,1121.0,0.97850
927278,912,Casablanca (1942),Drama|Romance,1121.0,0.95675
941942,925,Golden Earrings (1947),Adventure|Romance|War,1121.0,0.96425
965630,946,To Be or Not to Be (1942),Comedy|Drama|War,1121.0,0.99575
988190,966,A Walk in the Sun (1945),Drama|War,1121.0,0.99025
1176587,1161,"Tin Drum, The (Blechtrommel, Die) (1979)",Drama|War,1121.0,0.98325
1199149,1184,Mediterraneo (1991),Comedy|Drama,1121.0,0.96650
1251037,1233,"Boot, Das (Boat, The) (1981)",Action|Drama|War,1121.0,0.96750
1269085,1250,"Bridge on the River Kwai, The (1957)",Adventure|Drama|War,1121.0,0.97350
1282621,1262,"Great Escape, The (1963)",Action|Adventure|Drama|War,1121.0,0.97850
1304053,1281,"Great Dictator, The (1940)",Comedy|Drama|War,1121.0,0.97975
1709031,1696,Bent (1997),Drama|War,1121.0,0.96750
1916613,1936,Mrs. Miniver (1942),Drama|War,1121.0,0.98850
1919997,1939,"Best Years of Our Lives, The (1946)",Drama|War,1121.0,0.97150
1925637,1944,From Here to Eternity (1953),Drama|Romance|War,1121.0,0.97525
2020389,2028,Saving Private Ryan (1998),Action|Drama|War,1121.0,0.95800
2106118,2106,Swing Kids (1993),Drama|War,1121.0,0.99550
2213279,2202,Lifeboat (1944),Drama|War,1121.0,0.99050

In [18]:
relevancepermovie_df=df.loc[(df['movieId']==1240) & (df['relevance']>.95)]
relevancepermovie_df.head(40)

,movieId,title,genres,tagId,relevance
1256703,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,19.0,0.98075
1256758,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,74.0,0.98500
1256965,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,281.0,0.99750
1257021,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,337.0,0.99900
1257103,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,419.0,0.99875
1257104,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,420.0,0.99350
1257220,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,536.0,0.96450
1257310,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,626.0,0.99150
1257545,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,861.0,0.96325
1257570,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,886.0,0.99425
1257571,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,887.0,0.98500
1257573,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,889.0,0.99425
1257574,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,890.0,0.99500
1257635,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,951.0,0.95825
1257684,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,1000.0,0.95750
1257704,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,1020.0,0.95675

In [19]:
# now take these tag ids from the terminator movie selection and suggest a list of movies
tagidsmatchineterminator=relevancepermovie_df.tagId
similarmovies_df=df.loc[(df['tagId'].isin(tagidsmatchineterminator)) & (df['relevance']>.95)]
similarmovies_df.head()

,movieId,title,genres,tagId,relevance
9042,9,Sudden Death (1995),Action,19.0,0.97700
10170,10,GoldenEye (1995),Action|Adventure|Thriller,19.0,0.97250
15810,15,Cutthroat Island (1995),Action|Adventure|Romance,19.0,0.97650
24687,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,1000.0,0.97375
24834,23,Assassins (1995),Action|Crime|Thriller,19.0,0.97750

In [20]:
df_explor=df.loc[df['movieId']==1]

In [21]:
df_explor

,movieId,title,genres,tagId,relevance
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,0.02375
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,0.06250
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,0.07575
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,0.14075
...,...,...,...,...,...
1123,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1124.0,0.05775
1124,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1125.0,0.03900
1125,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1126.0,0.02975
1126,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1127.0,0.08475
1127,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1128.0,0.02200

In [22]:
file_path3 = Path('tags.csv')
tags_df = pd.read_csv(file_path3)
tags_df.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [23]:
df_sum=pd.merge(df_explor,tags_df,on='movieId',how='left')
df_sum.head()

,movieId,title,genres,tagId,relevance,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875,791,Owned,1515175493
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875,1048,imdb top 250,1172144394
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875,1361,Pixar,1216146311
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875,3164,Pixar,1223304727
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,0.02875,3164,time travel,1223304729

In [24]:
df_sumrelv=df_sum.loc[df_sum['relevance']>.95]

In [25]:
df_sumrelv.to_csv('summarychecks.csv')

In [26]:
df=df.groupby(['movieId','genres']).mean()

In [27]:
df.to_csv('dfcheck.csv')

In [28]:
file_path4 = Path('genome-tags.csv')
genometags_df = pd.read_csv(file_path4)
genometags_df.head(5)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [29]:
file_path5 = Path('genome-scores.csv')
genomescores_df = pd.read_csv(file_path5)
genomescores_df.head(5)

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [30]:
df=pd.merge(movies_df, tags_df,on='movieId', how='left')
df.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,791.0,Owned,1.515175e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1048.0,imdb top 250,1.172144e+09
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1361.0,Pixar,1.216146e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3164.0,Pixar,1.223305e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3164.0,time travel,1.223305e+09

In [31]:
inspect_df=genomescores_df[genomescores_df['movieId']==1]
inspect_df.count()

movieId      1128
tagId        1128
relevance    1128
dtype: int64

In [32]:
genomescores_df.count()

movieId      15584448
tagId        15584448
relevance    15584448
dtype: int64

In [33]:
tags_df.userId.unique().shape

(14592,)

In [34]:
# Can we reduce the number of rows in the genome_scores by first removing all low rated movies scores
goodmoviesidlist=goodmovies_df.movieId
reduced_genomescore_df=genomescores_df.loc[genomescores_df['movieId'].isin(goodmoviesidlist)]

In [35]:
reduced_genomescore_df.shape

(15512256, 3)

In [36]:
# now how many of records have scoring over 95% relevance

reduced_genomescore_df2=reduced_genomescore_df.loc[reduced_genomescore_df['relevance']>.95]

In [37]:
reduced_genomescore_df2.shape

(32107, 3)

In [38]:
#now we see only 32107 rows remaining.  how many movies does this actually cover now?
moviescorelist=reduced_genomescore_df2.movieId.unique()

In [39]:
len(moviescorelist)

10418

In [40]:
# ok we see it covers 10k movies.  what tagids make up this refined list
tagsreducedlist=reduced_genomescore_df2.tagId.unique()

In [41]:
len(tagsreducedlist)

962

In [42]:
#now lets find the inner join between movies with meaningful relevance scores and movies with good ratings
# first get the movie titles from the moviescorelist