In [2]:
# Initial imports
import pandas as pd
from path import Path
import numpy as np
import datetime
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
# We will start importing the 25M MovieLens Dataset which has been downloaded from https:/grouplens.org/movielens
# The first file is the list of movies
file_path = Path('movies.csv')
movies_df = pd.read_csv(file_path)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies_df.shape

(62423, 3)

In [5]:
# We see that there are ~62k movies in this dataframe.  
movies_df.movieId.count()

62423

In [6]:
# Now lets import the movie ratings file
file_path2 = Path('ratings.csv')
ratings_df = pd.read_csv(file_path2)
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [8]:
# how many ratings for each movie 
ratingscounts_df=ratings_df.groupby('movieId').count()

In [10]:
ratingscounts_df.head()

         userId  rating  timestamp
movieId
1         57309   57309      57309
2         24228   24228      24228
3         11804   11804      11804
4          2523    2523       2523
5         11714   11714      11714

In [13]:
# we can see that 13k movies were rated more than 50 times 
ratingscounts_df.loc[ratingscounts_df['userId']>50]

         userId  rating  timestamp
movieId
1         57309   57309      57309
2         24228   24228      24228
3         11804   11804      11804
4          2523    2523       2523
5         11714   11714      11714
...         ...     ...        ...
205076       53      53         53
205383      252     252        252
205425       69      69         69
206499       90      90         90
207830       55      55         55

[13087 rows x 3 columns]

In [ ]:
# Is there users that voted