In [2]:
import json
import csv
import pandas as pd

In [15]:
final_cluster_df = pd.read_csv('/Users/attiyawaqqas/Documents/GitHub/Movie_Application/Final_Cluster/cluster_final.csv', names=("movieid","Cluster","title"))
final_cluster_df.dropna(inplace=True)
final_cluster_df.reset_index(drop=True, inplace=True)
final_cluster_df.drop(index=0)
#final_cluster_df.set_index('movieid', inplace=True)

      movieid Cluster                                   title
1           1      35                        Toy Story (1995)
2           2     130                          Jumanji (1995)
3           3     180                 Grumpier Old Men (1995)
4           4      99                Waiting to Exhale (1995)
5           5     180      Father of the Bride Part II (1995)
...       ...     ...                                     ...
13812  205072      43           Zombieland: Double Tap (2019)
13813  205076      48                    Downton Abbey (2019)
13814  205383      96  El Camino: A Breaking Bad Movie (2019)
13815  205425     102  Dave Chappelle: Sticks & Stones (2019)
13816  206499     180     Between Two Ferns: The Movie (2019)

[13816 rows x 3 columns]

In [16]:
final_cluster_df.to_json('/Users/attiyawaqqas/Documents/GitHub/Movie_Application/js/data2.json', orient='columns')

In [13]:
js = final_cluster_df.to_json(orient = 'columns')
data=final_cluster_df.to_json("/Users/attiyawaqqas/Documents/GitHub/Movie_Application/js/data2.json", orient = 'records')

In [14]:
import json
with open('/Users/attiyawaqqas/Documents/GitHub/Movie_Application/js/data2.json', 'w') as f:
    json.dump({'movies': final_cluster_df.to_dict(orient='records')}, f, indent=4)