In [1]:
# Create a SQLite Database for storing the ML clustering output and movie summary data to use in the app
from pathlib import Path
Path('sqlite_movie.db').touch()

In [2]:
import sqlite3

conn=sqlite3.connect('sqlite_movie.db')
c=conn.cursor()

In [3]:
import pandas as pd
# load links data with Pandas into a Dataframe
links_df=pd.read_csv('links.csv')
# write that data to a sqlite table
links_df.to_sql('links',conn,if_exists='append',index=False)

In [4]:
c.execute('''SELECT * FROM links LIMIT 10''').fetchall()

[(1, 114709, 862.0),
 (2, 113497, 8844.0),
 (3, 113228, 15602.0),
 (4, 114885, 31357.0),
 (5, 113041, 11862.0),
 (6, 113277, 949.0),
 (7, 114319, 11860.0),
 (8, 112302, 45325.0),
 (9, 114576, 9091.0),
 (10, 113189, 710.0)]

In [5]:
# load movie data with Pandas into a Dataframe
movies_df=pd.read_csv('movies.csv')
# write that data to a sqlite table
movies_df.to_sql('movies',conn,if_exists='append',index=False)

In [6]:
c.execute('''SELECT * FROM movies LIMIT 10''').fetchall()

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy'),
 (6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (7, 'Sabrina (1995)', 'Comedy|Romance'),
 (8, 'Tom and Huck (1995)', 'Adventure|Children'),
 (9, 'Sudden Death (1995)', 'Action'),
 (10, 'GoldenEye (1995)', 'Action|Adventure|Thriller')]

In [7]:
# load cluster data with Pandas into a Dataframe
cluster_df=pd.read_csv('cluster.csv')
# write that data to a sqlite table
cluster_df.to_sql('cluster',conn,if_exists='append',index=False)

In [8]:
c.execute('''SELECT * FROM cluster LIMIT 10''').fetchall()

[(1148,
  199,
  'Wallace & Gromit: The Wrong Trousers (1993)',
  'Animation|Children|Comedy|Crime'),
 (1772, 199, 'Blues Brothers 2000 (1998)', 'Action|Comedy|Musical'),
 (4575, 199, 'Breaking In (1989)', 'Adventure|Comedy'),
 (5560, 199, 'Ã€ nous la libertÃ© (Freedom for Us) (1931)', 'Comedy|Musical'),
 (6233, 199, 'Born Yesterday (1993)', 'Comedy|Romance'),
 (7698, 199, 'China Syndrome, The (1979)', 'Drama|Thriller'),
 (8477, 199, 'JetÃ©e, La (1962)', 'Romance|Sci-Fi'),
 (5946, 198, 'Pellet (Bola, El) (2000)', 'Drama'),
 (6856, 198, 'Yankee Doodle Dandy (1942)', 'Drama|Musical'),
 (7743, 198, 'Explorers (1985)', 'Adventure|Children|Sci-Fi')]

In [9]:
conn.close()