In [1]:
# Create a SQLite Database for storing the ML clustering output and movie summary data to use in the app
from pathlib import Path
Path('sqlite_movie.db').touch()

In [2]:
import sqlite3

conn=sqlite3.connect('sqlite_movie.db')
c=conn.cursor()

In [3]:
import pandas as pd
# load links data with Pandas into a Dataframe
links_df=pd.read_csv('links.csv')
# write that data to a sqlite table
links_df.to_sql('links',conn,if_exists='append',index=False)

In [4]:
c.execute('''SELECT * FROM links LIMIT 10''').fetchall()

[(1, 114709, 862.0),
 (2, 113497, 8844.0),
 (3, 113228, 15602.0),
 (4, 114885, 31357.0),
 (5, 113041, 11862.0),
 (6, 113277, 949.0),
 (7, 114319, 11860.0),
 (8, 112302, 45325.0),
 (9, 114576, 9091.0),
 (10, 113189, 710.0)]

In [5]:
# load movie data with Pandas into a Dataframe
movies_df=pd.read_csv('movies.csv')
# write that data to a sqlite table
movies_df.to_sql('movies',conn,if_exists='append',index=False)

In [6]:
c.execute('''SELECT * FROM movies LIMIT 10''').fetchall()

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy'),
 (6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (7, 'Sabrina (1995)', 'Comedy|Romance'),
 (8, 'Tom and Huck (1995)', 'Adventure|Children'),
 (9, 'Sudden Death (1995)', 'Action'),
 (10, 'GoldenEye (1995)', 'Action|Adventure|Thriller')]

In [7]:
# load cluster data with Pandas into a Dataframe
cluster_df=pd.read_csv('cluster.csv')
# write that data to a sqlite table
cluster_df.to_sql('cluster',conn,if_exists='append',index=False)

C:\Users\jj277\anaconda3\envs\PythonDataJJ\lib\site-packages\pandas\core\generic.py:2789: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [8]:
c.execute('''SELECT * FROM cluster LIMIT 10''').fetchall()

[(0,
  1,
  107,
  'Toy Story (1995)',
  'Adventure|Animation|Children|Comedy|Fantasy'),
 (1, 2, 50, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (2, 3, 41, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (3, 4, 41, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (4, 5, 136, 'Father of the Bride Part II (1995)', 'Comedy'),
 (5, 6, 82, 'Heat (1995)', 'Action|Crime|Thriller'),
 (6, 7, 2, 'Sabrina (1995)', 'Comedy|Romance'),
 (7, 8, 16, 'Tom and Huck (1995)', 'Adventure|Children'),
 (8, 9, 78, 'Sudden Death (1995)', 'Action'),
 (9, 10, 48, 'GoldenEye (1995)', 'Action|Adventure|Thriller')]

In [9]:
# load cluster data with Pandas into a Dataframe
ratingssummary_df=pd.read_csv('ratingssummary.csv')
# write that data to a sqlite table
ratingssummary_df.to_sql('ratingssummary',conn,if_exists='append',index=False)

In [10]:
c.execute('''SELECT * FROM ratingssummary LIMIT 10''').fetchall()

[(0, 1, 3.893707794587238, 57309),
 (1, 2, 3.2515271586594023, 24228),
 (2, 3, 3.142028126058963, 11804),
 (3, 4, 2.85354736424891, 2523),
 (4, 5, 3.058434352057368, 11714),
 (5, 6, 3.854908898649748, 24588),
 (6, 7, 3.3636663369601054, 12132),
 (7, 8, 3.114583333333333, 1344),
 (8, 9, 2.992050660199407, 3711),
 (9, 10, 3.42145763311516, 28265)]

In [11]:
conn.close()